---

export interface Props {
  id: any;
}

const { id } = Astro.props; 
const response = await fetch('https://pokeapi.glitch.me/v1/pokemon/'+ id);
const data = await response.json();
const pokeName = data;

---

<!-- Los datos obtenidos en la compilación pueden ser usados en el HTML -->

<div class="col-span-1">
    {pokeName.map((item:any) => 
        <a href=""
     class="transition-all duration-75 ease-in-out h-full block relative top-0 hover:-top-2 shadow-lg hover:shadow-xl bg-white rounded-xl overflow-hidden"
     data-test="article-card">
    
           <img src={item.sprite} height="100px" width="100px" referrerpolicy="no-referrer" />
     
     
     <div class="py-6 px-8">
       <h2 class="font-bold text-2xl leading-tight">
           {item.name}
       </h2>
       <p class="text-xs text-gray-600 mt-4 flex items-center">
           {item.description}
       </p>
     </div>
   </a>
   )}
</div>

    <style>
        img {
          width: 100%;
          object-fit: cover;
          object-position: top;
        }
      </style>